In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
parentDir = "C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/"
metaDataDir = "C:/Users/josem/Documents/schoolWork/MQP/Git/MQPCode/test/subjCocoImgData/"

In [4]:
def formatFilePath(row, subj):
    # print(row)
    trainNumber = str(row.name + 1).zfill(4)
    nsdId = str(row["nsdId"]).zfill(5)

    return os.path.join(parentDir, f"subj0{subj}/training_split/training_images/", f"train-{trainNumber}_nsd-{nsdId}.png")

In [5]:
filePath = os.path.join(metaDataDir, f"subj01ImgData.pkl")
pklData = pd.read_pickle(filePath)

pklData.sort_index()

      nsdId  cocoSplit  cocoId    classLabel superClassLabel
0        13    val2017   24610         chair       furniture
1        27    val2017  254016          bowl         kitchen
2        71    val2017  286908  dining table       furniture
3        85    val2017  516318        person          person
4        88    val2017  464251          bird          animal
...     ...        ...     ...           ...             ...
9836  72981  train2017  255849        person          person
9837  72983  train2017  348478        bottle         kitchen
9838  72985  train2017  348480            tv      electronic
9839  72992  train2017  569088          bowl         kitchen
9840  72999  train2017  518083          bird          animal

[9841 rows x 5 columns]

In [10]:
pklData["superClassLabel"].value_counts()

superClassLabel
animal        1932
person        1837
vehicle       1623
furniture      984
kitchen        650
sports         527
food           467
electronic     441
indoor         434
accessory      404
outdoor        343
appliance      199
Name: count, dtype: int64

In [19]:
pklDatas = []


for i in range(1,9):
    filePath = os.path.join(metaDataDir, f"subj0{i}ImgData.pkl")
    pklData = pd.read_pickle(filePath)
    pklData["path"] = pklData.apply(formatFilePath, axis=1, subj = i)
    pklDatas.append(pklData)

In [20]:
data = pd.concat(pklDatas).reset_index(drop=True)

In [10]:
viewer = data[["nsdId", "path"]]

In [11]:
viewer.to_excel("test.xlsx")

In [20]:
data.drop_duplicates(subset=["nsdId"])["superClassLabel"].value_counts(ascending=True)

superClassLabel
appliance      1165
outdoor        2242
accessory      2341
electronic     2736
indoor         2906
food           3012
sports         3096
kitchen        4093
furniture      6051
vehicle       10283
person        11115
animal        11661
Name: count, dtype: int64

In [21]:
dropNSD = data.drop_duplicates(subset=["nsdId"])

In [22]:
viewer = dropNSD[["nsdId", "path"]]

In [24]:
viewer.to_excel("test.xlsx")

In [77]:
dropNSD["superClassLabel"].value_counts()

superClassLabel
animal        13200
person        12555
vehicle       11622
furniture      6870
kitchen        4601
sports         3517
food           3394
indoor         3323
electronic     3081
accessory      2633
outdoor        2496
appliance      1316
Name: count, dtype: int64

In [26]:
superClasses = dropNSD["superClassLabel"].unique()

In [27]:
superClasses.sort()

In [28]:
superClasses

array(['accessory', 'animal', 'appliance', 'electronic', 'food',
       'furniture', 'indoor', 'kitchen', 'outdoor', 'person', 'sports',
       'vehicle'], dtype=object)

In [29]:
trainImages = []
trainLabels = []
validImages = []
validLabels = []

for superClass in superClasses:
    rows = dropNSD[dropNSD["superClassLabel"] == superClass].sort_values(by=["nsdId"])
    trainImages.extend(rows["path"].iloc[:1100])
    trainLabels.extend(rows["superClassLabel"].iloc[:1100])

In [30]:
trainImages = np.array(trainImages)
trainLabels = np.array(trainLabels)

In [31]:
test = np.column_stack((trainImages, trainLabels))

In [32]:
indicies = np.arange(len(trainImages))

In [35]:
np.random.shuffle(indicies)

In [36]:
test[indicies]

array([['C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/subj07/training_split/training_images/train-3760_nsd-27865.png',
        'appliance'],
       ['C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/subj05/training_split/training_images/train-0154_nsd-01254.png',
        'person'],
       ['C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/subj06/training_split/training_images/train-0280_nsd-02482.png',
        'person'],
       ...,
       ['C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/subj02/training_split/training_images/train-1111_nsd-07808.png',
        'accessory'],
       ['C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/subj02/training_split/training_images/train-0114_nsd-00928.png',
        'vehicle'],
       ['C:/Users/josem/Documents/schoolWork/MQP/algonauts2023_transformers#2Leader/algonauts_2023_challenge_data/subj05/training_split/training_images/train-5254_nsd-39013.png',
        'appliance']], dtype='<U167')

In [37]:
trainImages = trainImages[indicies]
trainLabels = trainLabels[indicies]

In [38]:
np.save("newDatasetImagesPath.npy", trainImages)

In [39]:
np.save("newDatasetImagesLabel.npy", trainLabels)

In [40]:
print(len(trainImages))
print(len(trainLabels))
print(len(validImages))
print(len(validLabels))

13200
13200
0
0

In [90]:
dropNSD[dropNSD["superClassLabel"] == "furniture"].sort_values(by=["nsdId"])

,nsdId,cocoSplit,cocoId,classLabel,superClassLabel,path
0,13,val2017,24610,chair,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
56473,47,val2017,163951,chair,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
19687,48,val2017,360564,toilet,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
47392,66,val2017,336053,chair,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
2,71,val2017,286908,dining table,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
...,...,...,...,...,...,...
9831,72948,train2017,517878,chair,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
9832,72952,train2017,217387,potted plant,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
9834,72975,train2017,517967,chair,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
28761,72976,train2017,255827,bed,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...
75085,72996,train2017,255930,potted plant,furniture,C:/Users/josem/Documents/schoolWork/MQP/algona...

In [81]:
dropNSD.sort_values(by=["superClassLabel", "nsdId"])

,nsdId,cocoSplit,cocoId,classLabel,superClassLabel,path
56467,14,val2017,558114,tie,accessory,C:/Users/josem/Documents/schoolWork/MQP/algona...
47389,46,val2017,29984,umbrella,accessory,C:/Users/josem/Documents/schoolWork/MQP/algona...
19688,78,val2017,344268,tie,accessory,C:/Users/josem/Documents/schoolWork/MQP/algona...
9854,89,val2017,401446,umbrella,accessory,C:/Users/josem/Documents/schoolWork/MQP/algona...
56478,90,val2017,566282,tie,accessory,C:/Users/josem/Documents/schoolWork/MQP/algona...
...,...,...,...,...,...,...
28760,72972,train2017,255808,motorcycle,vehicle,C:/Users/josem/Documents/schoolWork/MQP/algona...
19681,72973,train2017,517958,train,vehicle,C:/Users/josem/Documents/schoolWork/MQP/algona...
37541,72988,train2017,518030,boat,vehicle,C:/Users/josem/Documents/schoolWork/MQP/algona...
47382,72990,train2017,566938,airplane,vehicle,C:/Users/josem/Documents/schoolWork/MQP/algona...
75083,72991,train2017,255904,truck,vehicle,C:/Users/josem/Documents/schoolWork/MQP/algona...